<a href="https://colab.research.google.com/github/Nyauntu/Amazon_externship/blob/main/Copy_of_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/sample_dirty_text.csv")

In [ ]:
print(df.head())

                     noisy_text
0        This JOB is AMAZING!!!
1         Worst. Manager. EVER.
2  pay is good, but hours? meh.
3     THE benefits are... okay.
4    I just don't know anymore.

In [ ]:
df.noisy_text

0                This JOB is AMAZING!!!
1                 Worst. Manager. EVER.
2          pay is good, but hours? meh.
3             THE benefits are... okay.
4            I just don't know anymore.
5           Loved it! Will come back :)
6              meh. it’s fine, I guess.
7        great TEAM!! love the support.
8                 Too many rules! why??
9    meh, not bad but not great either.
Name: noisy_text, dtype: object

In [ ]:
import textblob

In [ ]:
from textblob import TextBlob

In [ ]:
import nltk

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
def clean_text(text):
    if pd.isnull(text):
        return ""
    # Remove punctuation and lowercase
    tokens = text.lower().translate(str.maketrans('', '', string.punctuation)).split()
    # Remove stopwords
    return ' '.join([word for word in tokens if word not in stopwords.words('english')])

In [ ]:
df['cleaned_text']=df['noisy_text'].apply(clean_text)

In [ ]:
print(df.head())

                     noisy_text        cleaned_text
0        This JOB is AMAZING!!!         job amazing
1         Worst. Manager. EVER.  worst manager ever
2  pay is good, but hours? meh.  pay good hours meh
3     THE benefits are... okay.       benefits okay
4    I just don't know anymore.   dont know anymore

In [ ]:
df.to_csv('cleaned_text.csv')