<a href="https://colab.research.google.com/github/Nyauntu/Amazon_externship/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel("/content/sample_data/glass_reviews.xlsx")

In [ ]:
print(df.head())

   review_id               rating_date  count_helpful  count_unhelpful  \
0          1  2025-06-03T00:00:00.000Z            0.0              0.0
1          2  2025-05-29T00:00:00.000Z            0.0              0.0
2          3  2025-05-28T00:00:00.000Z            0.0              0.0
3          4  2025-05-26T00:00:00.000Z            0.0              0.0
4          5  2025-05-23T00:00:00.000Z            0.0              0.0

   employee_length employee_status                       employee_type  \
0              0.0         REGULAR                    Current employee
1              1.0        CONTRACT  Current employee, less than 1 year
2              1.0         REGULAR  Current employee, less than 1 year
3              2.0       PART_TIME                   Current employees
4              0.0         REGULAR                    Current employee

   flag_covid  flag_featured flags_business_outlook  ... review_advice  \
0         0.0            0.0                    NaN  ...           NaN
1         0.0            0.0               POSITIVE  ...           NaN
2         0.0            0.0               POSITIVE  ...           NaN
3         0.0            0.0               POSITIVE  ...           NaN
4         0.0            0.0                    NaN  ...           NaN

  career_opportunities_rating  employee_location  \
0                         NaN       Richmond, VA
1                         NaN       Brampton, ON
2                         NaN         Bolton, ON
3                         NaN     Swedesboro, NJ
4                         NaN         Whitby, ON

                employee_job_title  \
0  Warehouse Fulfillment Associate
1              Warehouse Associate
2              Warehouse Associate
3                         Employee
4            Fulfillment Associate

                         advice_to_management  \
0                          don’t micro manage
1  Remove all attitude manager from warehouse
2                                         NaN
3                                         NaN
4                                         NaN

                                         review_pros  \
0  not interactive \ncan leave or take off whenev...
1                      good and easy work enviorment
2                          help to grow , good pay ,
3                    Plenty of work\nMeet new people
4  Good Holiday pay \nAdditional benefits for per...

                                         review_cons  \
0      inhumane \ndraining physically &amp; mentally
1  Sticks rules and completing targets any how, o...
2  limited opportunities for advancement,No clear...
3                 Tough on the body\nLabor intensive
4            Not hiring permanent employees directly

  rating_compensation_benefits  rating_senior_leadership  \
0                            0                       0.0
1                            5                       3.0
2                            5                       5.0
3                            2                       2.0
4                            0                       0.0

   rating_career_opportunities
0                          0.0
1                          5.0
2                          5.0
3                          3.0
4                          0.0

[5 rows x 28 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   review_id                     141 non-null    int64
 1   rating_date                   141 non-null    object
 2   count_helpful                 139 non-null    float64
 3   count_unhelpful               139 non-null    float64
 4   employee_length               132 non-null    float64
 5   employee_status               139 non-null    object
 6   employee_type                 141 non-null    object
 7   flag_covid                    139 non-null    float64
 8   flag_featured                 139 non-null    float64
 9   flags_business_outlook        53 non-null     object
 10  flags_ceo_approval            54 non-null     object
 11  flags_recommend_frend         68 non-null     object
 12  rating_culture_values         125 non-null    float64
 13  rating_diversity_inclusion    125 non-null    float64
 14  rating_overall                140 non-null    float64
 15  rating_work_life              125 non-null    float64
 16  summary                       136 non-null    object
 17  company_name                  141 non-null    object
 18  review_advice                 0 non-null      float64
 19  career_opportunities_rating   0 non-null      float64
 20  employee_location             133 non-null    object
 21  employee_job_title            136 non-null    object
 22  advice_to_management          48 non-null     object
 23  review_pros                   139 non-null    object
 24  review_cons                   139 non-null    object
 25  rating_compensation_benefits  125 non-null    object
 26  rating_senior_leadership      125 non-null    float64
 27  rating_career_opportunities   125 non-null    float64
dtypes: float64(13), int64(1), object(14)
memory usage: 31.0+ KB
None

In [ ]:
df.isnull().sum().sort_values(ascending=False)

career_opportunities_rating     141
review_advice                   141
advice_to_management             93
flags_business_outlook           88
flags_ceo_approval               87
flags_recommend_frend            73
rating_diversity_inclusion       16
rating_work_life                 16
rating_culture_values            16
rating_career_opportunities      16
rating_senior_leadership         16
rating_compensation_benefits     16
employee_length                   9
employee_location                 8
summary                           5
employee_job_title                5
count_unhelpful                   2
count_helpful                     2
flag_covid                        2
employee_status                   2
review_pros                       2
review_cons                       2
flag_featured                     2
rating_overall                    1
employee_type                     0
review_id                         0
rating_date                       0
company_name                      0
dtype: int64

In [ ]:
df.nunique().sort_values()

review_advice                     0
career_opportunities_rating       0
count_unhelpful                   1
count_helpful                     1
flag_covid                        1
company_name                      1
flag_featured                     1
flags_recommend_frend             2
flags_ceo_approval                3
flags_business_outlook            3
rating_overall                    5
employee_status                   6
rating_work_life                  6
rating_culture_values             6
rating_diversity_inclusion        6
employee_type                     6
rating_senior_leadership          6
rating_career_opportunities       6
rating_compensation_benefits      7
employee_length                   8
advice_to_management             48
employee_job_title               61
employee_location                92
rating_date                     104
summary                         126
review_pros                     139
review_cons                     139
review_id                       140
dtype: int64

In [ ]:
df = df.drop(columns=['company_name','flag_covid','review_advice','company_name','rating_compensation_benefits','rating_career_opportunities','rating_senior_leadership','rating_diversity_inclusion','rating_culture_values','rating_culture_values','count_helpful','review_advice','career_opportunities_rating','count_unhelpful'])  # Dropping irrelevant or not so much useful columns'

In [ ]:
print(df.head())

   review_id               rating_date  employee_length employee_status  \
0          1  2025-06-03T00:00:00.000Z              0.0         REGULAR
1          2  2025-05-29T00:00:00.000Z              1.0        CONTRACT
2          3  2025-05-28T00:00:00.000Z              1.0         REGULAR
3          4  2025-05-26T00:00:00.000Z              2.0       PART_TIME
4          5  2025-05-23T00:00:00.000Z              0.0         REGULAR

                        employee_type  flag_featured flags_business_outlook  \
0                    Current employee            0.0                    NaN
1  Current employee, less than 1 year            0.0               POSITIVE
2  Current employee, less than 1 year            0.0               POSITIVE
3                   Current employees            0.0               POSITIVE
4                    Current employee            0.0                    NaN

  flags_ceo_approval flags_recommend_frend  rating_overall  rating_work_life  \
0                NaN                   NaN             3.0               0.0
1            APPROVE              POSITIVE             4.0               3.0
2            APPROVE              POSITIVE             5.0               5.0
3            APPROVE              POSITIVE             3.0               2.0
4                NaN                   NaN             4.0               0.0

           summary employee_location               employee_job_title  \
0           Amazon      Richmond, VA  Warehouse Fulfillment Associate
1             Good      Brampton, ON              Warehouse Associate
2  Good experience        Bolton, ON              Warehouse Associate
3             Dhdh    Swedesboro, NJ                         Employee
4    Good Pay rate        Whitby, ON            Fulfillment Associate

                         advice_to_management  \
0                          don’t micro manage
1  Remove all attitude manager from warehouse
2                                         NaN
3                                         NaN
4                                         NaN

                                         review_pros  \
0  not interactive \ncan leave or take off whenev...
1                      good and easy work enviorment
2                          help to grow , good pay ,
3                    Plenty of work\nMeet new people
4  Good Holiday pay \nAdditional benefits for per...

                                         review_cons
0      inhumane \ndraining physically &amp; mentally
1  Sticks rules and completing targets any how, o...
2  limited opportunities for advancement,No clear...
3                 Tough on the body\nLabor intensive
4            Not hiring permanent employees directly

In [ ]:
df.drop(columns=['rating_date','flags_ceo_approval','flags_recommend_frend','rating_work_life','flag_featured','flags_business_outlook','employee_length'])

,review_id,employee_status,employee_type,rating_overall,summary,employee_location,employee_job_title,advice_to_management,review_pros,review_cons
0,1,REGULAR,Current employee,3.0,Amazon,"Richmond, VA",Warehouse Fulfillment Associate,don’t micro manage,not interactive \ncan leave or take off whenev...,inhumane \ndraining physically &amp; mentally
1,2,CONTRACT,"Current employee, less than 1 year",4.0,Good,"Brampton, ON",Warehouse Associate,Remove all attitude manager from warehouse,good and easy work enviorment,"Sticks rules and completing targets any how, o..."
2,3,REGULAR,"Current employee, less than 1 year",5.0,Good experience,"Bolton, ON",Warehouse Associate,NaN,"help to grow , good pay ,","limited opportunities for advancement,No clear..."
3,4,PART_TIME,Current employees,3.0,Dhdh,"Swedesboro, NJ",Employee,NaN,Plenty of work\nMeet new people,Tough on the body\nLabor intensive
4,5,REGULAR,Current employee,4.0,Good Pay rate,"Whitby, ON",Fulfillment Associate,NaN,Good Holiday pay \nAdditional benefits for per...,Not hiring permanent employees directly
...,...,...,...,...,...,...,...,...,...,...
136,136,REGULAR,Current employee,4.0,Amazing,"Pendergrass, GA",Warehouse Associate,Engage with associates more effectively to inc...,"Great flexibility, easy tasks, simple","Rude bosses, get boring quickly, unexpected"
137,137,REGULAR,Current employee,2.0,NaN,"Hamilton, ON",Picker/Packer,Be understanding and don't try to cash as much...,"Time off, benefits,career opportunities and ab...","Exhausting physical work, gets the same pay as..."
138,138,REGULAR,"Former employee, less than 1 year",2.0,Toxic Work Environment,"Chattanooga, TN",Picker,Take the necessary steps to improve the toxic ...,"Casual work environment, you can wear jeans an...","Toxic work environment, some employees spread ..."
139,139,REGULAR,Former employee,1.0,Terrible,"Appling, GA",Picker/Packer,Actually do work instead of just walking aroun...,"Terrible, don’t recommend working here",Don't recommend working there too much for not...
140,140,ReGULAR,"Former employee, less than 1 year",3.0,"Good benefits, terrible work","Nampa, ID",Stower,NaN,"Health insurance from day 1, lots of employee ...","long hours, minimal breaks, high rate expectat..."

In [ ]:
print(df.head())

   review_id               rating_date  employee_length employee_status  \
0          1  2025-06-03T00:00:00.000Z              0.0         REGULAR
1          2  2025-05-29T00:00:00.000Z              1.0        CONTRACT
2          3  2025-05-28T00:00:00.000Z              1.0         REGULAR
3          4  2025-05-26T00:00:00.000Z              2.0       PART_TIME
4          5  2025-05-23T00:00:00.000Z              0.0         REGULAR

                        employee_type  flag_featured flags_business_outlook  \
0                    Current employee            0.0                    NaN
1  Current employee, less than 1 year            0.0               POSITIVE
2  Current employee, less than 1 year            0.0               POSITIVE
3                   Current employees            0.0               POSITIVE
4                    Current employee            0.0                    NaN

  flags_ceo_approval flags_recommend_frend  rating_overall  rating_work_life  \
0                NaN                   NaN             3.0               0.0
1            APPROVE              POSITIVE             4.0               3.0
2            APPROVE              POSITIVE             5.0               5.0
3            APPROVE              POSITIVE             3.0               2.0
4                NaN                   NaN             4.0               0.0

           summary employee_location               employee_job_title  \
0           Amazon      Richmond, VA  Warehouse Fulfillment Associate
1             Good      Brampton, ON              Warehouse Associate
2  Good experience        Bolton, ON              Warehouse Associate
3             Dhdh    Swedesboro, NJ                         Employee
4    Good Pay rate        Whitby, ON            Fulfillment Associate

                         advice_to_management  \
0                          don’t micro manage
1  Remove all attitude manager from warehouse
2                                         NaN
3                                         NaN
4                                         NaN

                                         review_pros  \
0  not interactive \ncan leave or take off whenev...
1                      good and easy work enviorment
2                          help to grow , good pay ,
3                    Plenty of work\nMeet new people
4  Good Holiday pay \nAdditional benefits for per...

                                         review_cons
0      inhumane \ndraining physically &amp; mentally
1  Sticks rules and completing targets any how, o...
2  limited opportunities for advancement,No clear...
3                 Tough on the body\nLabor intensive
4            Not hiring permanent employees directly

In [ ]:
df.isnull().sum().sort_values(ascending=False)

advice_to_management      93
flags_business_outlook    88
flags_ceo_approval        87
flags_recommend_frend     73
rating_work_life          16
employee_length            9
employee_location          8
employee_job_title         5
summary                    5
review_cons                2
review_pros                2
flag_featured              2
employee_status            2
rating_overall             1
review_id                  0
rating_date                0
employee_type              0
dtype: int64

In [ ]:
print(df.head())

   review_id               rating_date  employee_length employee_status  \
0          1  2025-06-03T00:00:00.000Z              0.0         REGULAR
1          2  2025-05-29T00:00:00.000Z              1.0        CONTRACT
2          3  2025-05-28T00:00:00.000Z              1.0         REGULAR
3          4  2025-05-26T00:00:00.000Z              2.0       PART_TIME
4          5  2025-05-23T00:00:00.000Z              0.0         REGULAR

                        employee_type  flag_featured flags_business_outlook  \
0                    Current employee            0.0                    NaN
1  Current employee, less than 1 year            0.0               POSITIVE
2  Current employee, less than 1 year            0.0               POSITIVE
3                   Current employees            0.0               POSITIVE
4                    Current employee            0.0                    NaN

  flags_ceo_approval flags_recommend_frend  rating_overall  rating_work_life  \
0                NaN                   NaN             3.0               0.0
1            APPROVE              POSITIVE             4.0               3.0
2            APPROVE              POSITIVE             5.0               5.0
3            APPROVE              POSITIVE             3.0               2.0
4                NaN                   NaN             4.0               0.0

           summary employee_location               employee_job_title  \
0           Amazon      Richmond, VA  Warehouse Fulfillment Associate
1             Good      Brampton, ON              Warehouse Associate
2  Good experience        Bolton, ON              Warehouse Associate
3             Dhdh    Swedesboro, NJ                         Employee
4    Good Pay rate        Whitby, ON            Fulfillment Associate

                         advice_to_management  \
0                          don’t micro manage
1  Remove all attitude manager from warehouse
2                                         NaN
3                                         NaN
4                                         NaN

                                         review_pros  \
0  not interactive \ncan leave or take off whenev...
1                      good and easy work enviorment
2                          help to grow , good pay ,
3                    Plenty of work\nMeet new people
4  Good Holiday pay \nAdditional benefits for per...

                                         review_cons
0      inhumane \ndraining physically &amp; mentally
1  Sticks rules and completing targets any how, o...
2  limited opportunities for advancement,No clear...
3                 Tough on the body\nLabor intensive
4            Not hiring permanent employees directly

In [ ]:
df.drop(columns=[
    'rating_date',
    'flags_ceo_approval',
    'flags_recommend_frend',
    'rating_work_life',
    'flag_featured',
    'flags_business_outlook'
], inplace=True)

In [ ]:
print(df.head())

   review_id  employee_length employee_status  \
0          1              0.0         REGULAR
1          2              1.0        CONTRACT
2          3              1.0         REGULAR
3          4              2.0       PART_TIME
4          5              0.0         REGULAR

                        employee_type  rating_overall          summary  \
0                    Current employee             3.0           Amazon
1  Current employee, less than 1 year             4.0             Good
2  Current employee, less than 1 year             5.0  Good experience
3                   Current employees             3.0             Dhdh
4                    Current employee             4.0    Good Pay rate

  employee_location               employee_job_title  \
0      Richmond, VA  Warehouse Fulfillment Associate
1      Brampton, ON              Warehouse Associate
2        Bolton, ON              Warehouse Associate
3    Swedesboro, NJ                         Employee
4        Whitby, ON            Fulfillment Associate

                         advice_to_management  \
0                          don’t micro manage
1  Remove all attitude manager from warehouse
2                                         NaN
3                                         NaN
4                                         NaN

                                         review_pros  \
0  not interactive \ncan leave or take off whenev...
1                      good and easy work enviorment
2                          help to grow , good pay ,
3                    Plenty of work\nMeet new people
4  Good Holiday pay \nAdditional benefits for per...

                                         review_cons
0      inhumane \ndraining physically &amp; mentally
1  Sticks rules and completing targets any how, o...
2  limited opportunities for advancement,No clear...
3                 Tough on the body\nLabor intensive
4            Not hiring permanent employees directly

In [ ]:
df = df.dropna(subset=['summary'])

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.to_csv('glassdoor_cleaned.csv', index=False)